.card3{
    display: flex;
    flex-direction: row;
    text-align: left;
}
.card3:hover{
    box-shadow: 0 0 10px #ccc , 0 0 20px #ccc;
}
.card3:hover .card-title{
    color: #CCE500;
}
.card3 img{
    margin-top: 4%;
    width: 35%;
    height: 35%;
}
.card3 .card-body{
    width: 65%;
    height: 25%;
}
.card3 .card-body .card-title{
    font-weight: bold;
    font-size: 100%;
}
.card3 .card-body .card-text{
    font-size: 70%;
}
.cardBut{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 44%;
    width: 25%;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width:800px ){
    .card3{
    margin: auto;
    height: 50%;
    }
    .card3 img{
        margin-top: 4%;
        width: 4rem;
        height: 4rem;
    }
}